.body{
    font-family: open sans, sans-serif;
}

.banner-container{
    background-color: #24292e;
}

.banner-column{
    background-color: #316e7d;
}

.navbar-container{
    top: 0%;
    background-color: #26293A;
    position: sticky;
    z-index: 1;;
}

.about-container{
    background-color: #00A9BF;
}

.education-container{
    background-color: #EEEEEE;
    box-shadow: inset 0px 0px 24px 8px rgba(128, 0, 0, 1);}

.redtype{
    background-color: #FF9080;
}

.redtype:hover{
    color: black!important;
}

.redtype-color{
    color: #FF9080;
}

.circle{
    background-color: #FF9080;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.project-container{
background-color: #20A8E4;
}

.form-container{
    background-color: #464D5E;
}

.inner-form{
    background-color: #50586E;
}

.footer{
    background-color: #20A7E3;
}

.fcircle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
}

.fcircle:hover{
    background-color: #50586E;
}

.p-bg{
    background:
	repeating-linear-gradient(
		45deg,
		transparent,
		transparent 1em,
		moccasin 0,
		moccasin 2em,
		transparent 0,
		transparent 3em,
		powderblue 0,
		powderblue 4em,
		transparent 0,
		transparent 5em,
		lavender 0,
		lavender 6em,
		transparent 0,
		transparent 7em,
		beige 0,
		beige 8em
	),
	repeating-linear-gradient(
		-45deg,
		transparent,
		transparent 1em,
		khaki 0,
		khaki 2em,
		transparent 0,
		transparent 3em,
		beige 0,
		beige 4em,
		transparent 0,
		transparent 5em,
		peachpuff 0,
		peachpuff 6em
	), whitesmoke;

background-blend-mode: multiply;
}

.box {
    width: 200px; height: 300px;
    position: relative;
    border: 1px solid #BBB;
    background: #EEE;
  }
  .ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
  }
  .ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
  }
  .ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
  }
  .ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
  }
  html {
    scroll-behavior: smooth;
}