.body{
    font-family: open sans, sans-serif;
}

.banner-container{
    background-color: #ccc5c5;
}

.banner-column{
    background-color: #8D8D8D;
}

.navbar-container{
    background-color: #26293A;
}

.about-container{
    background-color: #00A9BF;
}

.education-container{
    background-color: #EEEEEE;
}

.redtype{
    background-color: #FF9080;
}

.redtype-color{
    color: #FF9080;
}

.circle{
    background-color: #FF9080;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}